@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: salamat , cursive;
  direction: rtl;
  background-color: rgb(183, 172, 193);
}

@font-face {
  font-family: salamat;
  src:url("/fonts/Salamat/Salamat.ttf");
  font-display: block;
}